section{
    padding: 16px 0px;
}

select{
    margin: 10px 0px;
    height: 42px;
    width: 100%;
}

input{
    margin: 10px 0px;
    height: 42px;
    width: 100%;
}

label{
    color: black;
}

body.dark label{
    color: white;
}

.title h2{
    font-size: 24px;
    line-height: 32px;
}

.title h2 span{
    color: black;
}

body.dark .title h2 span{
    color: white;
}

.container{
    background-color: #f4f5ff;
    border: 1px solid rgba(51, 51, 51, 0.4);
    border-radius: 10px;

    padding: 18px 25px 20px;
}

body.dark .container{
    background-color: #333;
    border: 1px solid rgba(244, 245, 255, 0.4);
}

.content p{
    padding-bottom: 10px;
}

body.dark .content p{
    color: white;
}

.form-grid{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    margin: 10px 0px 10px 0px;
    text-transform: uppercase;
}

.form-group input,
.form-group textarea{
    border: 1px solid black;
    padding: 0px 10px;
}

.form-group-01 input,
.form-group-01 textarea{
    border: 1px solid black;
    border-radius: 10px 0px 0px 0px;
    padding: 0px 10px;
}

.form-group-02 input,
.form-group-02 textarea{
    border: 1px solid black;
    border-radius: 0px 10px 0px 0px;
    padding: 0px 10px;
}

.mail{
    margin: 10px 0px 20px 0px;
}

.contact-btn{
    border-radius: 0px 0px 10px 10px;
}